<style>
	body {
		background: <%= @color %>
	}
</style>

<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>

<p>My favorite color is <%= @color %>,</p>
<p>My shoe size is <%= @size %>,</p>

<% if @size > 12 %>
	<p>My shoe size is <%= @size %>. I have huge feet.</p>
<% else %>
  <p>My shoe size is <%= @size %></p>
<% end %>